/* Slider yazarlar */
.meme-slider-2 img{display: block; width: 100%; height: 135px; object-fit: cover;}
.meme-slider-2 a{width:100%;height:135px;}
.meme-slider .meme-slide h1,.meme-slider-2 .meme-slide h1{position:relative;bottom:30px;padding:0 10px;pointer-events:none;height:30px;color:#ffffff;font-size:16px;background:linear-gradient(transparent,rgb(0 0 0 / 90%));}
/* Slider */
.slideralanim{margin:auto;position:relative;margin-top:20px;margin-bottom:20px;overflow:hidden;box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 5%);background:#fff;padding:20px}
.slideralanimmanset{margin:auto;position:relative;margin-top:10px;margin-bottom:20px;overflow:hidden;}
.slideralanimüst{margin:auto;position:relative;margin:12px 0;overflow:hidden;}
.meme-container {width: 100%;overflow: hidden;}
.meme-wrapper {backface-visibility: hidden;transform: translate3d(0, 0, 0);display: flex;width: 100%;}
.meme-slide {box-sizing: border-box;backface-visibility: hidden;display: flex;flex-shrink: 0;justify-content: center;align-items: center;width: 100%;}
.meme-navigation {margin: 0px 0; text-align: center;}
.prev{margin:0 5px;padding:0;position:absolute;top:50%;left:15px;cursor:pointer;transform: translateY(-50%);}
.next{margin:0 5px;padding:0;cursor:pointer;position:absolute;top:50%;right:15px;transform: translateY(-50%);}
.prev:before{width:18px;content:"";height:18px;float:left;border:4px solid transparent;border-left-color:#ffffff;border-top-color:#ffffff;transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.next:before{width:18px;content:"";height:18px;float:left;border:4px solid transparent;border-left-color:#ffffff;border-top-color:#ffffff;transform:rotate(130deg);-moz-transform:rotate(130deg);-webkit-transform:rotate(130deg);-o-transform:rotate(130deg);-ms-transform:rotate(130deg);}
.meme-pagination {position:absolute;right:1%;text-align:center;z-index:1;margin:0; top: 5%;}
.meme-bullet {cursor:pointer;display:inline-block;vertical-align:middle;margin:0px 5px;background-color:#141414;border:0;width:15px;height:15px;border-radius:100%;margin-bottom:10px;color:#141414;}
.meme-bullet.active {background-color:#f89d41;color:#f89d41;}
/* Slider Sonradan */
.meme-slider-2 .prev,.meme-slider .prev{margin:0;padding:0;position:absolute;top:14%;left:25px;cursor:pointer;transform:translateY(-50%);}
.meme-slider-2 .next,.meme-slider .next{margin:0;padding:0;position:absolute;top:14%;right:25px;cursor:pointer;transform:translateY(-50%);}
.meme-slider .next:before,.meme-slider .prev:before,.meme-slider-2 .next:before,.meme-slider-2 .prev:before{border-left-color:#141414; border-top-color: #141414;}
.meme-slider-1 a{width:100%;height:390px;}
.meme-slider-1 .meme-slide h1{background:linear-gradient(transparent,rgb(0 0 0 / 90%));font-size:18px;bottom:54px;padding:10px 10px;line-height:28px;}
.meme-slider a{width:100%;height:135px;}
.meme-slider-1 .meme-slide:not(:last-child){padding:0px;}
.meme-slider-1 img{width:100%;height:390px;object-fit: cover;}
.meme-slider img{display: block; width: 100%; height: 135px; object-fit: cover;}
.meme-slider .meme-pagination {position: absolute; width:33px;left:0px;text-align:center;z-index:1;margin:0;top: 50%;transform:translateY(-50%);}
.meme-slide:not(:last-child) {padding:6px;}
.meme-slide h1{position:relative;bottom:57px;padding:0 10px;pointer-events:none;height:50px;color:#ffffff;font-size:16px;text-align:center;margin:0;font-weight:600;z-index:1;}
.meme-slider .meme-bullet {cursor:pointer;display:inline-block;vertical-align:middle;margin:0px 5px;background-color:#b2b2b2;border:0;width:15px;height:15px;border-radius:100%;margin-bottom:10px;color:#b2b2b2;}
.meme-slider .meme-bullet.active {background-color:#f13939;color:#f13939;}
.meme-slider-3 a{width:100%;height:215px;position:relative;background:transparent;z-index:1;}
.meme-slider-3 a:before {background:linear-gradient(transparent, #000000), linear-gradient(transparent, #000000);content:"";height:60%;bottom:0;left:0;right:0;position:absolute;width:100%;z-index:1;transition:all 0.7s ease 0s;}
.meme-slider-3 img{width:100%;height:215px;object-fit:cover;}
/* Slider Sag */
.slideralanimsag .meme-slide{float:left;padding:0 6px;margin-bottom:0px;width: 33.3333333333333333333%;display:block;}
.slideralanimsag .meme-slide h1{position:relative;bottom: 0;width: 100%;padding:5px;pointer-events:none;height:60px;overflow:hidden;background: none;color:#141414;font-size:16px;line-height:24px;}
.slideralanimsag .meme-slide img{display:block;width: 100%;height:135px;object-fit:cover}
.slideralanimsag{width:100%;float:right;position:relative;margin:auto;}
.slideralanimsag .slideralanim{padding:20px;}
/* Post Yazı Alanı */
.mainright h3.title,.yaziortala {font-size: 18px;line-height:20px;padding-bottom:20px;font-weight:600;text-align:center;margin-bottom:30px;position:relative;}
.mainright h3.title:before,.yaziortala:before {content: "";position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);width:100%;height: 2px;background-color:#f1f1f1}
.mainright h3.title:after,.yaziortala:after {content: "";position: absolute;bottom:0px;left: 50%;transform: translateX(-50%);width:50px;height:2px;background-color:#141414}
.yaziortala span {color:#141414}
div#Blog {box-shadow:0px 2px 8px 0px rgb(0 0 0 / 5%);background:#fff;padding:30px;overflow: hidden;}
#cookieChoiceInfo{background-color:#0E0E1B;padding:0.63rem;bottom:0;top:unset;font-family:League Spartan}
#cookieChoiceInfo .cookie-choices-text{margin:0 auto;font-size:1em;color:#FFFFFF;text-align:left}
#cookieChoiceInfo .cookie-choices-button{color:#000;background-color:#adbcc5;border-radius:0.31rem;padding:0.5rem 1.13rem;text-transform:none;transition:all .2s linear;font-weight:400}
#cookieChoiceInfo .cookie-choices-button:nth-child(2){background-color:#f1d600}
#cookieChoiceInfo .cookie-choices-button:hover,#cookieChoiceInfo .cookie-choices-button:nth-child(2):hover{background-color:#e9eef0}
